@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Roboto Condensed", sans-serif;
     
}

:root{
    --lead: #212121;
    --gold-finger:#F2BD12;
    --eye-ball:#FFFDF7;
    --hint-yellow:#FCF1CC;
    --pure-white:#FFF;
}

.mt-one-half{
    margin-top: 1.5rem;
}


body{
    background: var(--eye-ball);
}
a{
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--lead);
}
.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
li{
    list-style: none;
}
.between{
    justify-content: space-between;
}
.gap-2{
    gap: 2rem;
}

.gap-3{
    gap: 3rem;

}
.wrapper{
    max-width: 1400px;
    

    margin: auto;
    padding-inline: 1.5rem;
}
img{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}
.p-top{
    padding-top: 10rem;

}
.text-center{
    text-align: center;
}
.mt-4{
    margin-top: 4rem;
}
.mt-half{
    margin-top: .5rem;
}
h5{
    font-size: 1.2 rem;
    letter-spacing: .2rem;
    color: var(--gold-finger);
    text-transform: uppercase;
}
h2{
    font-size: 3.7rem;
    text-transform: capitalize;
    color: var(--lead);
}
h3{
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--lead);
}

.m-auto{
    margin: auto;

}
.service-card h3{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.order-cart{
    background: var(--pure-white);
    border: .1rem solid var(--gold-finger);
    border-radius: 2rem;
    box-shadow: 
    rgba(0,0,0,0.05) 8px 8px 8px,
    rgba(0,0,0,0.05) 8px 8px 8px inset;
    transition: all .5s ease-in-out;
    flex:1;
    flex-basis: 300px;
    padding: 01rem 2rem 1rem ;
}


.order-card img {
    width: 18rem;
    filter: drop-shadow(black 0 10px 10px );

}
h4{
    font-size: 1.4rem;
    color: var(--lead);
}

.order-card.price{
    font-size: 1.8rem;
    color: var(--gold-finger);
    padding: 1.3rem 0 2rem 0;
}
.cart-tab{
    background: var(--hint-yellow);
    position: fixed;
    inset: 0 -500px 0 auto;
    width: 25rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    box-shadow: black -10px -10px 20px;
}
.cart-tab-active{inset:  0 0 0 auto;

}
.cart-list{
    flex: 1;
    width: 100%;
    margin-top: 1.5rem;
    overflow: auto;
}
.cart-list::-webkit-scrollbar{
    width: 0;
}
.total-container{
    width: 100%;
    background: var(--gold-finger);
    text-align: center;
    margin-block: 1rem;
    padding-block: 1rem;
}
.total-container h4{
    display: inline-block;
    font-size: 1.3 rem;
    font-weight: 400;
}
.btn-container.btn{
    background: var(--lead);
    transition: .3s ease-in-out;
}
.btn-container.btn:hover{
    background: var(--gold-finger);
 color: var(--lead);}

.item{
    display: flex;
    align-items: center;
    padding: .7rem 1rem ;
    gap: 1rem;
}
.cart-list .item:nth-child(even){
    background: var(--eye-ball);
}
.item .item-image img{
    width: 5rem;
}
.item h4{
    font-size: 1.3rem;
    color: var(--lead)
}
.item .item-total{
    margin-top: .3rem;
    font-weight: 400;
}
.quantity-btn{
    background: var(--lead);
    color: var(--pure-white);
width: 1.7rem;
text-align: center;
aspect-ratio: 1;
border-radius: 100vw;
line-height: 1.7rem;
}
.quantity-value{
    font-size: 1.2rem;
    font-weight: 400;
margin-inline: .6rem;
}




 .swiper {
      width: 100%;
      height: 100%;
    }
.review-container{
    background-color: white;
    width: 650px;
    max-width: 100%;
    flex: 1;
}
.profile{
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    overflow: hidden;
}
.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fa-star{
    color: var(--gold-finger);
}
.arrow{
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--gold-finger);
    color: var(--lead);
    text-align: center;
    
    line-height: 2.5 rem;
}
.app-container{
    background: var(--hint-yellow);
    padding: 3rem 6rem;
    border-radius: 3rem;
}
.app-container h2{
    font-size: 4.5rem;

}

.app-container img{
    width: 25rem;
}
.input-container{
    width: 43rem;
    max-width: 100%;
    background: var(--pure-white);
    padding: .8rem;
    box-shadow: black 0 5px 8px;
    border-radius: 1rem;
    margin: 4rem auto 0 auto;

}
input[type="email"]{
    flex: 1;
    height: 7vh;
    background: transparent;
    border: none;
    font-size: 1.1rem;
    padding-left: 1rem;
}
input[type="email"]:focus
{
    outline: none;
}

.footer-container{
    margin-top: 10rem;
    background: var(--hint-yellow);

padding-block: 4rem;

}
.footer-container .flex{
    align-items: flex-start;
}
.footer-wrapper{
    flex:1;
    flex-basis: 150px;
}
.footer-wrapper:nth-child(1){
    flex: 2;
}
.footer-wrapper .social-icon{
    background: var(--pure-white);

}
.footer-wrapper .social-icon:hover{
    background: var(--lead);
    color: var(--pure-white);
}
.footer-link{
    color: gray;
    font-size: 1.1rem;
    transition: .3s ease-in-out;

}
.footer-link:hover{
    color: var(--lead);
}

















.navbar{
    min-height: 14vh;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold-finger);
}
.btn{
    display: inline-block;
    padding: .9rem 2rem;
    background: var(--gold-finger);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--pure-white);
    box-shadow: black 0 2px 1px;
    transition: .3s ease-in-out;
}
.btn:hover{
    background: var(--lead);
}
.cart-icon{
    color: var(--lead);
    font-size: 1.3rem;
    position: relative;
}
.cart-icon .cart-value{
    position: absolute;
    top: 50%;
    right: -10%;
    font-size: .85rem;
    width:20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--gold-finger);
    color: var(--lead);
    text-align: center;
    line-height: 20px;
}
.hamburger{
    font-size: 1.5rem;
    display: none;

}



.hero-section{
    
    min-height: calc(100vh - 14vh);
}

.content,
.image-container,
.service-card{
    flex: 1;
}
h1{
    font-size: 5.6vw;
    color: var(--lead);
    flex-basis: 300px;
}
h1 span{
    color: var(--gold-finger);
}
p{
    font-size: 1.25rem;
    color: gray;
    line-height: 1.8rem;
}
.para{
    margin-block: 2rem;
    max-width: 550px;
}
.social-icon{
    background: var(--hint-yellow);
    width: 3rem;
aspect-ratio: 1;
font-size: 1.2rem;
text-align: center;
border-radius: 1rem;
line-height: 3rem;
box-shadow: black 0 2px 1px;
transition: .3s ease-in-out;
}
.social-icon:hover{
    background: var(--lead);
    color: var(--pure-white);
}































@media  screen and (max-width :780px) {
    .navlis,
    .desktop-action .btn{
        display: none;
    }

    .hamburger{
        display: block;
    }
    

    
}















